Repository 0x0ade/CelesteNet, pull requests merged in 2023-02, with the labels that each got.

#60 Chat QoL: Add a /reply command
  CelesteNet.Server.ChatModule/CMDs/ChatCMDReply.cs
  CelesteNet.Server.ChatModule/CMDs/ChatCMDWhisper.cs
  CelesteNet.Server/CelesteNetPlayerSession.cs
Labels: Server-Only, Chat

#76 Remove duplicate/superfluous data being sent in new session handshake.
  CelesteNet.Server/CelesteNetPlayerSession.cs
Labels: Server-Only

#26 Chat QoL: Tab completions
  CelesteNet.Client/CelesteNetClientSettings.cs
  CelesteNet.Client/Components/CelesteNetChatComponent.cs
  CelesteNet.Client/Components/CelesteNetPlayerListComponent.cs
  CelesteNet.Client/Entities/GhostEmote.cs
  CelesteNet.Shared/CommandInfo.cs
  Dialog/English.txt
Labels: Client-Only

#73 Rebuild PlayerList on UIScale change, extract magic numbers and fix margin/padding misalignments
  CelesteNet.Client/Components/CelesteNetPlayerListComponent.cs
Labels: Client-Only

#77 Prioritize users in the same channel (commands like /w, /tp...)
  CelesteNet.Server.ChatModule/ChatCommands.cs
Labels: Server, Chat

#78 Sanitize chat messages
  CelesteNet.Client/Components/CelesteNetChatComponent.cs
  CelesteNet.Server.ChatModule/ChatModule.cs
  CelesteNet.Shared/CelesteNetUtils.cs
Labels: Client, Server, Shared

#79 Websocket reduce api polls
  .editorconfig
  CelesteNet.Server.ChatModule/CMDs/ChatCMDChannel.cs
  CelesteNet.Server.FrontendModule/Content/frontend/cp/js/panels/accounts.js
  CelesteNet.Server.FrontendModule/Content/frontend/cp/js/panels/channels.js
  CelesteNet.Server.FrontendModule/Content/frontend/cp/js/panels/chat.js
  CelesteNet.Server.FrontendModule/Content/frontend/cp/js/panels/players.js
  CelesteNet.Server.FrontendModule/Frontend.cs
  CelesteNet.Server.FrontendModule/FrontendUtils.cs
  CelesteNet.Server.FrontendModule/RCEPs/RCEPControl.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDDissolve.cs
  CelesteNet.Server/Channels.cs
Labels: Server, Chat, Frontend
