Repository 0x0ade/CelesteNet, pull requests merged in 2023-08, with the labels that each got.

#103 Null-check Client and Client.Data in all the places in the components…
  CelesteNet.Client/CelesteNetClient.cs
  CelesteNet.Client/CelesteNetGameComponent.cs
  CelesteNet.Client/Components/CelesteNetChatComponent.cs
  CelesteNet.Client/Components/CelesteNetDebugMapComponent.cs
  CelesteNet.Client/Components/CelesteNetEmoteComponent.cs
  CelesteNet.Client/Components/CelesteNetMainComponent.cs
  CelesteNet.Client/Components/CelesteNetPlayerListComponent.cs
Labels: Client

#106 Allow broadcasting targeted messages
  CelesteNet.Server.ChatModule/ChatModule.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDChatX.cs
Labels: Chat, Frontend

#110 Add Avali skin mod to FAQ page
  CelesteNet.Server.FrontendModule/Content/frontend/faq/index.html
Labels: Frontend

#108 Chat module: literally just renaming some stuff
  CelesteNet.Server.ChatModule/CMDs/ChatCMDBroadcast.cs
  CelesteNet.Server.ChatModule/CMDs/CmdBack.cs
  CelesteNet.Server.ChatModule/CMDs/CmdBan.cs
  CelesteNet.Server.ChatModule/CMDs/CmdBroadcast.cs
  CelesteNet.Server.ChatModule/CMDs/CmdChannel.cs
  CelesteNet.Server.ChatModule/CMDs/CmdChannelChat.cs
  CelesteNet.Server.ChatModule/CMDs/CmdEmote.cs
  CelesteNet.Server.ChatModule/CMDs/CmdGlobalChat.cs
  CelesteNet.Server.ChatModule/CMDs/CmdHelp.cs
  CelesteNet.Server.ChatModule/CMDs/CmdKick.cs
  CelesteNet.Server.ChatModule/CMDs/CmdReply.cs
  CelesteNet.Server.ChatModule/CMDs/CmdStatus.cs
  CelesteNet.Server.ChatModule/CMDs/CmdTP.cs
  CelesteNet.Server.ChatModule/CMDs/CmdWhisper.cs
  CelesteNet.Server.ChatModule/CMDs/CommandsContext.cs
  CelesteNet.Server.ChatModule/ChatModule.cs
  CelesteNet.Server.ChatModule/ChatSettings.cs
Labels: Chat

#112 Limit HairCount in graphics data
  CelesteNet.Client/Components/CelesteNetMainComponent.cs
  CelesteNet.Client/Entities/Ghost.cs
  CelesteNet.Server/CelesteNetPlayerSession.cs
Labels: Client

#111 Return WebSocket command success
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDBan.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDDissolve.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDKick.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDKickWarn.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDMove.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDStatus.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDTag.cs
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDUnban.cs
Labels: Server, Frontend

#113 Prevent broadcasting targeted broadcasts to everyone
  CelesteNet.Server.ChatModule/ChatModule.cs
Labels: Server, Chat

#114 Prevent multiple WS message broadcasts from clashing together
  CelesteNet.Server.FrontendModule/Frontend.cs
  CelesteNet.Server.FrontendModule/FrontendWebSocket.cs
Labels: Server, Frontend

#117 Fix status WSCMD never actually parsing the payload
  CelesteNet.Server.FrontendModule/WSCMDs/WSCMDStatus.cs
Labels: Server, Frontend
