Repository 0x0ade/CelesteNet, pull requests merged in 2023-01, with the labels that each got.

#71 Add some debug logging to session startup?...
  CelesteNet.Server/CelesteNetPlayerSession.cs
  CelesteNet.Server/CelesteNetServer.cs
Labels: Server-Only

#64 Yoink all the spaceWidth and idleIconWidth into static properties
  CelesteNet.Client/Components/CelesteNetPlayerListComponent.cs
Labels: Client-Only

#75 Make AddChannels use its Color parameter
  CelesteNet.Client/Components/CelesteNetPlayerListComponent.cs
Labels: Client-Only

#69 Add Send/Run buttons to Chat/Cmd panels
  CelesteNet.Server.FrontendModule/Content/frontend/cp/css/frontend.css
  CelesteNet.Server.FrontendModule/Content/frontend/cp/js/panels/chat.js
  CelesteNet.Server.FrontendModule/Content/frontend/cp/js/panels/cmd.js
Labels: Server-Only, Frontend

#70 Add input to filter player list in Frontend panel
  CelesteNet.Server.FrontendModule/Content/frontend/cp/css/frontend.css
  CelesteNet.Server.FrontendModule/Content/frontend/cp/js/panels/players.js
Labels: Server-Only, Frontend

#46 Chat QoL: Tab completions - Server-side only - (new branch)
  CelesteNet.Server.ChatModule/CMDs/ChatCMDBan.cs
  CelesteNet.Server.ChatModule/CMDs/ChatCMDChannel.cs
  CelesteNet.Server.ChatModule/CMDs/ChatCMDEmote.cs
  CelesteNet.Server.ChatModule/CMDs/ChatCMDHelp.cs
  CelesteNet.Server.ChatModule/CMDs/ChatCMDKick.cs
  CelesteNet.Server.ChatModule/CMDs/ChatCMDTP.cs
  CelesteNet.Server.ChatModule/CMDs/ChatCMDWhisper.cs
  CelesteNet.Server.ChatModule/ChatCommands.cs
  CelesteNet.Server.ChatModule/ChatModule.cs
  CelesteNet.Server/CelesteNetPlayerSession.cs
  CelesteNet.Shared/CommandInfo.cs
  CelesteNet.Shared/DataTypes/DataCommandList.cs
Labels: Server-Only, Chat
