Repository 0x0ade/CelesteNet, pull requests merged in 2024-08, with the labels that each got.

#150 /locate command
  CelesteNet.Client/CelesteNetClient.cs
  CelesteNet.Client/CelesteNetLocationInfo.cs
  CelesteNet.Client/Components/CelesteNetChatComponent.cs
  CelesteNet.Client/Components/CelesteNetPlayerListComponent.cs
  CelesteNet.Client/Handshake.cs
  CelesteNet.Server.ChatModule/CMDs/CmdLocate.cs
  CelesteNet.Server.ChatModule/CMDs/CommandsContext.cs
  CelesteNet.Server.ChatModule/ChatModule.cs
  CelesteNet.Server/CelesteNetPlayerSession.cs
  CelesteNet.Shared/CelesteNetClientOptions.cs
  CelesteNet.Shared/CommandInfo.cs
Labels: Client, Server, Chat, Shared

#152 Use `Ordinal` instead of `InvariantCulture` comparison
  CelesteNet.Client/Components/CelesteNetChatComponent.cs
  CelesteNet.Server.ChatModule/CMDs/ParamArgs/ParamPlayerSession.cs
  CelesteNet.Server.FrontendModule/RCEPs/RCEPControl.cs
Labels: Client, Server, Frontend

#155 Clarify "Connect" option and show prompt to fix failing attempts to connect to non-default servers.
  CelesteNet.Client/CelesteNetClientModule.cs
  CelesteNet.Client/CelesteNetClientSettings.cs
  Dialog/English.txt
Labels: Client
